body {
  font-size: 1rem;
  margin: 0;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #bbb;
}

.inline-links {
  display: flex;
  justify-content: space-between;
}

nav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-direction: column;
}

nav img {
  height: 2rem;
  padding: 0.5rem;
  opacity: 75%;
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav section {
  display: none;
}

#navLinks a {
  padding: 0.5rem;
}

nav a.icon {
  background: black;
  display: block;
  opacity: 50%;
}

nav i {
  padding: 1rem;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  color: white;
  flex-grow: 4;
}

.slideshow-container {
  position: relative;
  margin: 0;
  overflow: hidden;
}

#slider {
  height: 200px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  position: absolute;
  bottom: 0rem;
  width: 100%;
  text-align: center;
  background-color: #333;
  opacity: 50%;
}

.dots {
  text-align: center;
  background-color: transparent;
  position: absolute;
  bottom: 0.3rem;
  width: 100%;
}
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  height: 200px;
  margin: 1rem 0 1rem 0;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

article {
  padding: 2rem;
  background-color: #f2f2f2;
}

.gallery {
  position: relative;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #717171;
  padding: 2rem;
}

footer .socialMediaIcons,
.contacts,
.inline-footer {
  text-align: center;
  width: 100%;
}

footer a {
  text-align: center;
  width: 100%;
}
.socialMediaIcons i {
  padding: 1rem;
}

.contacts i {
  padding-top: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.mentions {
  font-size: 6px;
  text-align: center;
  width: 100%;
  background-color: #333;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #333;
  color: #f2f2f2;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #8d8c8c;
  color: #242222;
}

.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.exterior-h1,
.interior-h1 {
  text-align: center;
  font-size: 4rem;
  color: #242222;
  text-shadow: 2px 2px 5px #333;
}

@media screen and (min-width: 1300px) {
  #slider {
    height: 70vh;
  }

  #slider img {
    width: 100%;
    object-fit: cover;
  }

  .galleries {
    display: flex;
    justify-content: space-evenly;
  }

  .galleries section {
    padding: 5rem 5rem 5rem 5rem;
    width: 25vw;
  }
  .galleries img {
    width: 100%;
    box-shadow: 5px 10px 15px #333;
  }

  .external-galleries {
    display: flex;
    flex-direction: column;
  }
  .gallery-row {
    display: flex;
    height: 50vh;
    justify-content: space-evenly;
    padding: 0 0 5rem 0;
  }
  .galleries .gallery {
    height: 50vh;
    margin: 0;
  }
  .external-galleries .gallery {
    height: 100%;
    margin: 0;
  }

  .external-galleries section {
    width: 30vw;
  }

  .external-galleries img {
    box-shadow: 5px 10px 15px #333;
  }

  article {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  article p {
    font-size: 1.5rem;
  }
  article h1 {
    font-size: 3rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    background-color: #717171;
    padding: 1rem;
  }

  footer p {
    margin: 0;
  }

  .inline-footer {
    display: flex;
    flex-wrap: nowrap;
    height: 25px;
  }

  .contacts {
    display: flex;
    flex-wrap: nowrap;
    /* text-align: center; */
    gap: 10px;
  }

  .row i {
    padding: 0;
  }

  .socialMediaIcons i {
    padding: 0;
  }

  .socialMediaIcons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
  .form-container {
    padding: 5rem 40rem 5rem 40rem;
  }
}

@media screen and (min-width: 736px) and (max-width: 1300px) {
  #slider {
    height: 30vh;
  }

  #slider img {
    width: 100%;
    object-fit: cover;
  }
  .form-container {
    padding: 5rem 10rem 5rem 10rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    background-color: #717171;
    padding: 1rem;
  }

  footer p {
    margin: 0;
  }

  .inline-footer {
    display: flex;
    flex-wrap: nowrap;
    height: 25px;
  }

  .contacts {
    display: flex;
    flex-wrap: nowrap;
    /* text-align: center; */
    gap: 10px;
  }

  .row i {
    padding: 0;
  }

  .socialMediaIcons i {
    padding: 0;
  }

  .socialMediaIcons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}
